@model OBM.Models.Competitor
@{
    ViewBag.Title = Model.CompetitorName;

    if (ViewBag.Access == true)
    {
        <div>
            <h1>@Html.DisplayFor(model => model.CompetitorName)</h1>
            <input id="EventID" type="hidden" value="@Model.EventID" />
            <input id="compID" type="hidden" value="@Model.CompetitorID" />
            <br />
            <div id="matches"></div>
        </div>
    }
    else
    {
        <div class="form-horizontal">
            <h4>Access Denied</h4>
        </div>
    }
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/competitorMatches.js"></script>
}