
@{
    ViewBag.Title = "GetTournament";
}

<h2>GetTournament</h2>
<p>@ViewBag.response</p>


<div>
    <form method="get">
        @Html.TextBox("search", null, new { @placeholder = "Enter URL for tournament..." })
        <input class="button" type="submit" value="Search" />
    </form>
</div>

<b>@ViewBag.Found</b>