@model OBM.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>@Html.DisplayFor(model => model.EventName)</h2>

@if (ViewBag.Access == true)
{
    <input type="hidden" id="eventID" name="eventID" value="@Html.DisplayFor(model => model.EventID)" />
    <div>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Brackets</th>
            </tr>
        </table>
        <div id="Competitors"></div>
    </div>
    <p>
        @Html.ActionLink("Edit Details", "Edit", new { id = Model.EventID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <div class="form-horizontal">
        <h4>Access Denied</h4>
    </div>
}

@section scripts {
    <script type="text/javascript" src="~/Scripts/CompDisplay.js"></script>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}