@model OBM.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Manage";
}

<h2>@Html.DisplayFor(model => model.EventName)</h2>

@if (ViewBag.Access == true)
{
    <table class="table table-bordered table-striped">
        <tr>
            <th>Tournaments</th>

        </tr>
        @for (int i = 0; i < 0; i++)
        {
            <tr>
                <!--add a row for each tournament, or put 3 columns and then a new row-->
                <!--This may be ajax, which is cool but I need the action linkt to be here-->

            </tr>
        }
        <tr>
            <td>@Html.ActionLink("Add Tournament", "NewTournament/"+Model.EventID)</td>
        </tr>

    </table>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Brackets</th>
        </tr>

    </table>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Competitors</th>
        </tr>
    </table>
    <p>
        @Html.ActionLink("Edit Details", "Edit", new { id = Model.EventID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <div class="form-horizontal">
        <h4>Access Denied</h4>
    </div>
}

