@{
    ViewBag.Title = "GetTournament";
}

<h1>Add Challonge Tournament</h1>
<p>@ViewBag.response</p>
<hr />
<br />

@if (ViewBag.Access == false)
{
    <div class="form-horizontal">
        <h4>Access Denied</h4>
    </div>
}
else if (Request.IsAuthenticated)
{
    <form method="get">
        <div class="form-group">
            <h3>Find Challonge Tournament by URL</h3>
            <input class="form-control" id="search" name="search" type="text" placeholder="Enter URL...">
        </div>
        <div class="form-check">
            <input name="submit" class="button" id="submit" type="submit" value="Add" />
        </div>

        <b>@ViewBag.Success</b>
        <a href=@ViewBag.Link1> @ViewBag.Link2</a>

        <br />
        <br />
        <h3>-OR-</h3>
        <br />
        <br />

        <h3>Select from your Challonge Tournaments</h3>
        <br />
        <div id="tourList">
        </div>
    </form>

}
else if (ViewBag.Access == false)
{
    <div class="form-horizontal">
        <h4>Access Denied</h4>
    </div>
}
else
{
    <div class="form-horizontal">
        <h4>Please Log In</h4>
    </div>
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/getTournaments.js"></script>
    <script type="text/javascript">ajaxTournaments("@ViewBag.api_key");</script>
}