
@{
    ViewBag.Title = "GetTournament";
}

<h2>Get Tournament From Challong</h2>
<p>@ViewBag.response</p>


@if (ViewBag.Access == false)
{ 
    <div class="form-horizontal">
        <h4>Access Denied</h4>
    </div>
}
else if (Request.IsAuthenticated)
{
    <form method="get">
        <div class="form-group">
            <label for="search">Challong Tournament URL</label>
            <input class="form-control" id="search" name="search" type="text" placeholder="Enter URL...">
        </div>
        <div class="form-group">
            <label for="api_key">Challong Account Api Key</label>
            <a class="font-weight-light" href="https://challonge.com/settings/developer">Can be found here</a>
            <input class="form-control" id="api_key" name="api_key" type="text" placeholder="Enter Api Key...">
        </div>
        <div class="form-check">
            <input class="button" type="submit" value="Search" />
        </div>
    </form>


    <b>@ViewBag.Access</b>
    <b>@ViewBag.Success</b>
    <a href="~/Events/Tournament/@ViewBag.Link" />
    @ViewBag.Link2
}
else if (ViewBag.Access == false)
{ 
    <div class="form-horizontal">
        <h4>Access Denied</h4>
    </div>
}
else
{
    <div class="form-horizontal">
        <h4>Please Log In</h4>
    </div>
}