@model IEnumerable<OBM.Models.ViewModels.EventViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body>
        <div class="row">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Search by City, State, or Zipcode</span>

                </div>
                <textarea class="form-control" id="location_search" aria-label="With textarea"  value=""></textarea>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Search by Event Name</span>

                </div>
                <textarea class="form-control" id="name_search" aria-label="With textarea">@ViewBag.search</textarea>
            </div>
        </div>

        <script src="~/Scripts/EventDisplay.js"></script>
        <div class="container-lg" id="EventTable">

        </div>


        <div id="Selected_Details" class="jumbotron">
            <h1 id="Selected_Title" class="display-4">Titles goes here</h1>
            <p id="Selected_Location" class="lead">Location goes here</p>

            <p id="Selected_Description" class="lead">Description goes here</p>
            <hr id="Tournament_List" class="my-4">


        </div>


        <div class="row">
            
                <div class="col-md-2">
                    <div class="row" id="previous_page"><a class="page-link">Previous</a></div>
                </div>
                <div class="col-md-2">
                    <div class="page-item"id="next_page"><a class="page-link">Next</a></div>
                 </div>
           
        </div>


        <table class="table table-bordered table-striped">
            <tr id="Events"></tr>

        </table>
    </body>
