
@{
    ViewBag.Title = "Stream Help";
}

<h2>Stream Help</h2>

<div class="container-fluid">
    <div class="row">
        <div class="card shadow col-12 text-center pt-5">
            <p>By pressing the update button, any of the info in each field will be downloaded as the appropriately named .txt file.  You can also press on a match's identifier letter to directly update the stream for that match.  From there, the files can be read in by the streaming setup of your choice, to update match information live.  However, a lot of browsers are set up to create copies of downloads instead of overwriting them, so unless we fix that, you'll just end up with a downloads folder full of text files.  There's a few ways to fix this.  <a href="https://www.pcworld.com/article/217112/missing_downloads.html">You can set your browser to ask where to download each time it gets a file</a> which varries by browser.  Another option that may be available to you is an extension to automatically override files <a href="https://chrome.google.com/webstore/detail/downloads-overwrite-alrea/lddjgfpjnifpeondafidennlcfagekbp">like this one for Chrome.</a></p>
        </div>
    </div>
</div>