nav {
    background-color: #444b53;
}

.nav-logo {
    width:75px;
}

.navbar-brand, .nav-link {
    color: #E7E8E9 !important;
    padding: 4%;
    font-size: 200%;
}

.nav-link:hover, nav:hover {
    color: #4ac959;
}

#registerLink, #loginLink, #logoutLink, #accountLink {
    color: #E7E8E9;
    font-size: 100%;
    padding: 0 1em;
    text-align: center;
}

#registerLink:hover, #loginLink:hover, #logoutLink:hover, #accountLink:hover, #nav-item:hover {
    color: #4ac959 !important;
    text-decoration: none;
}

#loginLink, #logoutLink {
    border-left: 1px solid #ccc;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E7E8E9;
    color: #58585A;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 75px;
    padding-left: 15px;
    padding-right: 15px;
}

.team-logo {
    width: 150px;
    float: none;
}

.cp {
    font-size: 13px;
    float: right;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}