#participantOptions {
    display: none;
}

.titleok {
    text-transform: uppercase;
}
.titleok, .wordsok {
    display: inline-block;
    line-height: 1em;
    font-weight: 100;
    font-size: 7em;
}

.eventtitle:hover {
    color: #4ac959 !important;
    cursor: default;
}

.createbtn {
    background-color: #4ac959 !important;
    color: white;
    font-size: 1.5em;
}
.createbtn:hover {
    cursor: pointer;
    color: #444b53;
}
.createbtn:focus {
    border-color: #328a3c !important;
    box-shadow: 0 0 2px 1px #4ac959 !important;
}

.registerbtn {
    background-color: #444b53;
    color: white;
    font-size: 1.5em;
}
.registerbtn:hover {
    color: #4ac959;
    cursor: pointer;
}
.registerbtn:focus {
    border-color: #328a3c !important;
    box-shadow: 0 0 2px 1px #4ac959 !important;
}

.custom-select option:hover {
    background-color: #4ac959 !important;
    color: #4ac959 !important;
    cursor: pointer !important;
}

label input:focus, label .custom-select:focus {
    border-color: #4ac959 !important;
    box-shadow: 0 0 2px 1px #4ac959 !important;
}

option:checked, .page-item.active .page-link {
    background-color: #4ac959 !important;
    cursor: pointer !important;
    border-color: #4ac959 !important;
}

.custom-select .custom-select.active {
    border-color: #4ac959 !important;
}

.wordsbm {
    font-size: 3em;
}

.titledesc {
    font-weight: 200;
    font-size: 2em;
}

.eventdata {
    color: #E7E8E9 !important;
}

.paginate_button {
    background: #4ac959 !important;
}

nav {
    background-color: #444b53;
}

.nav-logo {
    width:75px;
}

.navbar-brand, .nav-link {
    color: #E7E8E9;
    padding: 4%;
    font-size: 200%;
}

.nav-link:hover, nav:hover {
    color: #E7E8E9;
}

a {
    color: #35b143;
}

a:hover {
    color: #58585A;
}

#registerLink, #loginLink, #logoutLink, #accountLink {
    color: #E7E8E9;
    font-size: 100%;
    padding: 0 1em;
    text-align: center;
}

#registerLink:hover, #loginLink:hover, #logoutLink:hover, #accountLink:hover, #nav-item:hover, .eventdata:hover {
    color: #4ac959 !important;
    text-decoration: none;
}

#loginLink, #logoutLink {
    border-left: 1px solid #ccc;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E7E8E9;
    color: #58585A;
    overflow-x: hidden;
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 75px;
    padding-left: 15px;
    padding-right: 15px;
}

.team-logo {
    width: 150px;
    float: none;
}

.cp {
    font-size: 13px;
    float: right;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table.table-bordered  > tr > th {
    border: 1px solid darkgrey;
}

table.table-bordered > tbody > tr > td {
    border: 1px solid darkgrey;
}

#selectable-rank .ui-selectee {
    background: #E7E8E9;
    color: #58585A;
    border: 1px solid #58585A;
    text-align: center;
    margin-bottom: 2px;
    border-radius: 5px;
}

#selectable-rank .ui-selecting {
    background: #E7E8E9;
    color: #4ac959;
}

#selectable-rank .ui-selected {
    background: #4ac959;
    color: #58585A;
}

#selectable-rank {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    width: 100%;
    column-count: 4;
    column-gap: 2px;
}

.ui-widget-header {
    background: #58585A;
    color: #4ac959;
    font-weight: bold;
}

.hide {
    visibility: hidden;
}

#select, #rank, #group {
    font-size: 100%;
    color: #4ac959;
}

.nav-pills .nav-link.active {
    color: #58585A !important;
    background-color: #4ac959;
}