@{
    ViewBag.Title = "Home Page";
}

    <div class="container-fluid text-primary bg-secondary text-center">
        <h5>The Phelpedecky Tracker <img src="https://cdn.pixabay.com/photo/2013/02/09/04/23/swimmers-79592_960_720.jpg" width="400" height="400" align="middle" /> 
        <i>Where Dreams are Made.</i> </h5>
    </div>