@model IEnumerable<ClassProject.Models.AthleteViewModel>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>


@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchStr")<br />
        <input type="submit" value="Search!"/>
    </p>
}

@if (ViewBag.Success == true)
{
    if(ViewBag.Results == true)
    {
        <table class="table table-bordered table-striped">
            @foreach(var i in Model)
            {
                <tr>
                    <td>@Html.ActionLink(i.AthleteName, "Athlete", new { id = i.AthleteId })</td>

                </tr>
            }
        </table>
    }
    else
    {
        <p>No results found.</p>
    }
}

