@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>
<hr />
<h3>Our Team</h3>
<p>Ashlyn Santiago</p>
<p>Ethan Black</p>
<p>Jacob Malmstadt</p>
<p>Zak Keipp</p>
<p><a class="git-link" href="https://github.com/theMalmstadt/Ok_Computer/">Our Github Repo &raquo;</a></p>
