
@{
    ViewBag.Title = "Search";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript" charset="utf8" src="~/Scripts/umd/popper-utils.js"></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/umd/popper.js"></script>

<h2>Search</h2>

<div class="form-group">
    <div class="form-row">
        <label for="table">Result Type:</label>


        <select id="table" class="form-control-sm">
            @if (ViewBag.table != null)
            {
                if (ViewBag.table == "Tournaments")
                {
                    <option selected>Tournaments</option>
                }
                else
                {
                    <option>Tournaments</option>

                }

                if (ViewBag.table == "Events")
                {
                    <option selected>Events</option>
                }
                else
                {
                    <option>Events</option>

                }
            }
            else
            {
                <option>Tournaments</option>
                <option selected>Events</option>

            }

        </select>



        <input type="text" class="form-control-md" id="searchterm" hidden placeholder="Keyword search" value=@ViewBag.search>
    </div>
</div>

<div class="container">
    <table class="table" id="searchResults">
    </table>
</div>

<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/Search.js"></script>

