@model System.Web.Mvc.HandleErrorInfo


<h1 class="error center-image">520</h1>
<h2 class="center-image">This is an unexpeced error.</h2>
<img class="center-image" src="~/Media/space.gif" alt="space gif" />
