
@{
    ViewBag.Title = "PageNotFound";
}

<center><h2>404 Page Not Found</h2></center>

<body>
    <div>
        <center><img src="https://i.pinimg.com/originals/04/1c/fc/041cfc5f91f3b4e29a451e37533ea80e.gif" />
        <p>Whatever you're looking for, it ain't here chief</p></center>
    </div>
</body>

