@model System.Web.Mvc.HandleErrorInfo


<h1 class="error center-image">@ViewBag.StatusCode</h1>
<h2 class="center-image">@ViewBag.Message</h2>
<img class="center-image" src="~/Media/@ViewBag.Image" alt="apology cat" />
